.App {
  text-align: center;
}

.aboutbutt{
  padding-right: 50%;
}


.abouttext{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.beeds{
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.caro{
  padding-top: 1rem;
}

.cartbutt{
  padding-right: 2rem;
}

.contact{
  padding-left: 20rem;
  padding-top: 2rem;
}

.contactnav{
  padding-right: 110px;
}

.about{
padding-right: 0px;
}

.checkbutton{
  padding-left: 20%;
}

.contactbutt{
  padding-left: 3rem;
}

.color-nav{
  background-color: white;
  /* background-color: #8b4b4b; */
  width: 100%;
  overflow: auto;
}

.customes{
  text-align: center;
}

.divider{
  width:1000px;
    height:auto;
    display:inline-block;
  }
  
.divrow1{
  padding-left:   6.5rem;
  padding-right: 7rem;
  padding-bottom: 2rem;
}
.divrow2{
  padding-right: 7rem;
}
.divrow3{
  padding-right: 3.5rem;
}

.divscarf1{
  padding-left: 8rem;
  padding-bottom: 3rem;
}

.divscarf2{
  padding-left: 7rem;
}

.divscarf3{
  padding-left: 7rem;
}

.divscarf4{
  padding-left: 8rem;
  padding-bottom: 3rem;
}

.divscarf5{
  padding-left: 7rem;
}


.divrow4{
  padding-left: 5rem;
  padding-top: 1rem;
}

.divrow5{
  padding-left:   4rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.divrow6{
  padding-left:   4rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.divrow7{
  padding-left: 4rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-top: 1rem;

}

.facebook{
  padding-right: 20%;
}

.framesize1{
  width: 1000%;
  height: 18%;

}

  .home{
    text-align: center;
    height: 10%;
  }

  .homeproducts{
    padding-left: 23.5%;
  }

  .homespace{
    padding-left: 30%;
    padding-right: 30%;
  }

  .innerspace{
    padding-left: 40%;
    padding-right: 10%;
    padding-bottom: 0%;
  }

  #nav {
  list-style: none;
  font-weight: bold;
  margin-bottom: 1%;
  width: 100%;
  text-align: center;
}

.logo{
  width: 10%;
  padding-right: 1%;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0f0e0dbb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lineHorizontal {
  border-top: 1px solid rgb(30, 30, 30);
}

.cara{
  background-color: black;
}


.btn-mar{
  background-color: maroon;
}

h1{
  color: #4f3d16;
}

.knits{
  padding-top: 1%;
}

.mininav{
  width: 50%;
  text-align: center;
  padding-left: 43.5%;
}



.prodbutt{
  padding-left: 10%;  
}

.scarfqa{
  padding-left: 5rem;
}



.products{
  text-align: center;
  padding-bottom: 2%;
}


.toplogo{
  padding-left: 0%;
}

h2{
  text-align: center;
}

h1{
  padding-top: 2rem;
  text-align: center;
}

